<mat-card class="register-card">
  <h2 class="form-title">Create Your Account</h2>

  <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
    <!-- Full Name -->
    <mat-form-field appearance="outline" class="form-field">
      <mat-label>Full Name</mat-label>
      <input matInput formControlName="fullName" placeholder="Enter your full name" />
      <mat-error *ngIf="registrationForm.get('fullName')?.hasError('required')">
        Full name is required.
      </mat-error>
    </mat-form-field>

     <!-- Username -->
    <mat-form-field appearance="outline" class="form-field">
      <mat-label>Username</mat-label>
      <input matInput formControlName="userName" placeholder="Enter your username" />
      <mat-error *ngIf="registrationForm.get('userName')?.hasError('required')">
        Username is required.
      </mat-error>
    </mat-form-field>

    <!-- Email -->
    <mat-form-field appearance="outline" class="form-field">
      <mat-label>Email Address</mat-label>
      <input matInput formControlName="email" placeholder="Enter your email" />
      <mat-error *ngIf="registrationForm.get('email')?.hasError('required')">
        Email is required.
      </mat-error>
      <mat-error *ngIf="registrationForm.get('email')?.hasError('email')">
        Please enter a valid email.
      </mat-error>
    </mat-form-field>

    <!-- Password -->
    <mat-form-field appearance="outline" class="form-field">
      <mat-label>Password</mat-label>
      <input matInput type="password" formControlName="password" placeholder="Enter password" />
      <mat-error *ngIf="registrationForm.get('password')?.hasError('required')">
        Password is required.
      </mat-error>
      <mat-error *ngIf="registrationForm.get('password')?.hasError('minlength')">
        Password must be at least 6 characters.
      </mat-error>
    </mat-form-field>

    <!-- Confirm Password -->
    <mat-form-field appearance="outline" class="form-field">
      <mat-label>Confirm Password</mat-label>
      <input matInput type="password" formControlName="confirmPassword" placeholder="Confirm password" />
      <mat-error *ngIf="registrationForm.errors?.mismatch && registrationForm.get('confirmPassword')?.touched">
        Passwords do not match.
      </mat-error>
    </mat-form-field>

    <!-- Error Message -->
    <div class="form-error" *ngIf="errorMessage">
      {{ errorMessage }}
    </div>

    <!-- Submit Button -->
    <button mat-raised-button color="primary" type="submit" [disabled]="isSubmitting || registrationForm.invalid">
      <mat-progress-spinner *ngIf="isSubmitting" diameter="20" mode="indeterminate"></mat-progress-spinner>
      <span *ngIf="!isSubmitting">Register</span>
    </button>
    <p class="text-center mt-4">
      Already have an acount?
      <button class="btn btn-outline-primary" (click)="goToLogin()">Login</button>
    </p>
  </form>
</mat-card>
